POSTGRES_HOST={{ authz_postgres_host }}
POSTGRES_PORT={{ authz_postgres_port }}
POSTGRES_DB={{ authz_postgres_db }}
POSTGRES_USER={{ authz_postgres_user }}
POSTGRES_PASSWORD={{ authz_postgres_password }}

JWT_SECRET={{ authz_jwt_secret }}
JWT_ISSUER={{ authz_jwt_issuer }}
JWT_AUDIENCE={{ authz_jwt_audience }}
AUTHZ_TOKEN_TTL={{ authz_token_ttl }}


